flows_orangepizero.json
[{"id":"a237b9f5.a763d8","type":"tab","label":"Get values from arduino","disabled":false,"info":""},{"id":"ffb35635.68c608","type":"serial-port","z":"","serialport":"/dev/ttyUSB0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\r\\n","bin":"false","out":"char","addchar":"","responsetimeout":"20000"},{"id":"ee3cdb32.66765","type":"mqtt-broker","z":"","name":"hass","broker":"192.168.100.181","port":"1883","clientid":"greenhouse","usetls":false,"compatmode":false,"keepalive":"10","cleansession":false,"birthTopic":"","birthQos":"1","birthRetain":"true","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7923b930.d0b98","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"fe21140d.a8a528","type":"mqtt-broker","z":"","name":"delli","broker":"192.168.100.190","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7cac9c5a.ed5f34","type":"ui_tab","z":0,"name":"Home","icon":"mood","order":1},{"id":"ed51e555.c146","type":"ui_tab","z":0,"name":"Configuration","icon":"settings","order":2},{"id":"df1ff9e1.a5a28","type":"ui_tab","z":"a237b9f5.a763d8","name":"Home","icon":"mood","order":1},{"id":"b41994f.4e635e8","type":"ui_tab","z":"a237b9f5.a763d8","name":"Configuration","icon":"settings","order":2},{"id":"64a56795.e70d88","type":"ui_group","z":0,"name":"Default","tab":"7cac9c5a.ed5f34","disp":true,"width":"6","collapse":true},{"id":"328a4619.f75d72","type":"ui_group","z":0,"name":"Outside","tab":"7cac9c5a.ed5f34","order":2,"disp":true,"width":"6","collapse":true},{"id":"91c6c06b.adb83","type":"ui_group","z":0,"name":"Group 1","tab":"ed51e555.c146","order":1,"disp":true,"width":6},{"id":"3ca69d38.760ab2","type":"ui_group","z":"a237b9f5.a763d8","name":"Default","tab":"7cac9c5a.ed5f34","disp":true,"width":"6","collapse":true},{"id":"eca42565.04d05","type":"ui_group","z":"a237b9f5.a763d8","name":"Outside","tab":"7cac9c5a.ed5f34","order":2,"disp":true,"width":"6","collapse":true},{"id":"cf415b24.78fa7","type":"ui_group","z":"a237b9f5.a763d8","name":"Group 1","tab":"ed51e555.c146","order":1,"disp":true,"width":6},{"id":"ecb90c85.3decf","type":"ui_group","z":"a237b9f5.a763d8","name":"Default","tab":"","order":1,"disp":true,"width":"6","collapse":true},{"id":"b170ba78.89e07","type":"ui_group","z":"a237b9f5.a763d8","name":"Outside","tab":"","order":2,"disp":true,"width":"6","collapse":true},{"id":"16f0e27.5ecf81e","type":"ui_group","z":"a237b9f5.a763d8","name":"Group 1","tab":"","order":1,"disp":true,"width":6},{"id":"1af02873.b90ed","type":"ui_base","z":0,"theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"1b244716.195371","type":"ui_base","z":"a237b9f5.a763d8","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"ee211e6c.5572f8","type":"ui_base","z":"a237b9f5.a763d8","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"ba9516bf.628a4","type":"debug","z":"a237b9f5.a763d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":950,"y":180,"wires":[]},{"id":"9d305057.5b2e68","type":"inject","z":"a237b9f5.a763d8","name":"","topic":"Hello","payload":"hello","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":100,"wires":[["7f18303c.71b3f"]]},{"id":"42847f8f.905038","type":"inject","z":"a237b9f5.a763d8","name":"","topic":"Get values periodically","payload":"get","payloadType":"str","repeat":"60","crontab":"","once":true,"onceDelay":"30","x":200,"y":140,"wires":[["7f18303c.71b3f"]]},{"id":"f23b6053.18f73","type":"thingspeak42","z":"a237b9f5.a763d8","name":"ThingSpeak","delay":"15","topic1":"Temp inside","topic2":"Humidity","topic3":"Temp case","topic4":"Temp outside","topic5":"Light","topic6":"Moisture","topic7":"Window status","topic8":"","endpoint":"https://thingspeak.com","x":970,"y":100,"wires":[]},{"id":"7965402e.7777b8","type":"function","z":"a237b9f5.a763d8","name":"split greenhouse values","func":"msg.payload = msg.payload.replace(/\\n/, '');\nvar values = msg.payload.split(\":\");\nvar messages = [];\nif (values.length === 10){\n    messages.push({topic:\"Temp inside\", payload:values[0]});\n    messages.push({topic:\"Humidity\", payload:values[1]});\n    messages.push({topic:\"DewPoint\", payload:values[2]});\n    messages.push({topic:\"Temp case\", payload:values[3]});\n    messages.push({topic:\"Temp outside\", payload:values[4]});\n    messages.push({topic:\"Light\", payload:values[5]});\n    messages.push({topic:\"Moisture\", payload:values[6]});\n    messages.push({topic:\"Window status\", payload:values[7]});\n    messages.push({topic:\"Fan relay\", payload:values[8]});\n    messages.push({topic:\"Water relay\", payload:values[9]});\n    return [messages, null];\n} else {\n return [null, msg] \n}\n","outputs":2,"noerr":0,"x":570,"y":120,"wires":[["ba9516bf.628a4"],["ba9516bf.628a4"]]},{"id":"aa52b716.36c12","type":"mqtt out","z":"a237b9f5.a763d8","name":"","topic":"home-assistant/greenhouse_mqtt","qos":"0","retain":"false","broker":"ee3cdb32.66765","x":900,"y":560,"wires":[]},{"id":"69b1373e.17dc88","type":"function","z":"a237b9f5.a763d8","name":"create object of data","func":"msg.payload = msg.payload.replace(/\\n/, '');\nvar values = msg.payload.split(\":\");\nvar messages = null;\nvar helloMsg = null;\nif (values.length < 1)\n{\n    return [messages, helloMsg]\n}\n\nvar command = values[0];\n\nswitch (command){\n    case \"hello\":\n        helloMsg = {payload:{value:values[1]}};\n        break;\n    case \"cfg\":\n        helloMsg = {payload:{temp_level:values[1],\n                             hum_level:values[2]}};\n        break;        \n    case \"data\":\n        if (values.length !== 11) break;    \n        messages = {payload:{\n            tempinside:parseFloat(values[1]),\n            humidity:parseFloat(values[2]),\n            dewpoint:parseFloat(values[3]),\n            tempcase:parseFloat(values[4]),\n            tempout:parseFloat(values[5]),\n            light:parseFloat(values[6]),\n            moist:parseFloat(values[7]),\n            windowstatus:(parseInt(values[8])===0)?\"closed\":\"open\",\n            fanrelay:(parseInt(values[9])===0)?\"off\":\"on\",\n            waterrelay:(parseInt(values[10])===0)?\"off\":\"on\"\n        }};\n        break;\n    default:\n        helloMsg = {payload:{values:values}};\n        break;\n    \n}\n\nreturn [messages, helloMsg] \n","outputs":2,"noerr":0,"x":500,"y":300,"wires":[["7480b39f.a9f434"],["89cb8c37.14dde"]]},{"id":"7480b39f.a9f434","type":"json","z":"a237b9f5.a763d8","name":"","property":"payload","action":"","pretty":true,"x":690,"y":480,"wires":[["acf08746.503a68","aa52b716.36c12"]]},{"id":"acf08746.503a68","type":"debug","z":"a237b9f5.a763d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":950,"y":520,"wires":[]},{"id":"89cb8c37.14dde","type":"debug","z":"a237b9f5.a763d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":510,"y":360,"wires":[]},{"id":"488296a3.d4d318","type":"inject","z":"a237b9f5.a763d8","name":"","topic":"GetConfiguration","payload":"getcfg","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":180,"wires":[["7f18303c.71b3f"]]},{"id":"2597cc3d.4d407c","type":"inject","z":"a237b9f5.a763d8","name":"","topic":"StartFan","payload":"startfan","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":220,"wires":[["7f18303c.71b3f"]]},{"id":"4d82db70.afdb7c","type":"inject","z":"a237b9f5.a763d8","name":"","topic":"StartWater","payload":"startwater","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":300,"wires":[["7f18303c.71b3f"]]},{"id":"8466c809.e07c5","type":"inject","z":"a237b9f5.a763d8","name":"","topic":"StopFan","payload":"stopfan","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":260,"wires":[["7f18303c.71b3f"]]},{"id":"7f18303c.71b3f","type":"serial request","z":"a237b9f5.a763d8","name":"Arduino","serial":"ffb35635.68c608","x":420,"y":180,"wires":[["7965402e.7777b8","69b1373e.17dc88"]]}]